.footer{
    background-color: var(--footer-bg-color);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;

    & .container{
        display: flex;
        align-items:baseline;
    }
}

.footer-contacts{

    &__item{
        font-style: normal;
        &:not(:last-child){
            margin-bottom: 9px;
        }
    }
    
    &__address{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--adr-contact-color);
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus{
            color: var(--accent-color);
        }
        
        &_white-accent {
            color: var(--hero-title-color);
        }
    }
}

.join{  
    width: 206px;
    height: 80px;
    margin-left: 70px;
    
    &__title{
        margin-bottom: 20px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--hero-title-color);
    }
}

.footer-subscribe{
    width: 574px;
    margin-left: auto;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    &__title {
        cursor: pointer;
    }
    
    &__wrapper{
        position: relative;
        width: 100%;
    }
    
    &__input{
        width: 358px;
        height: 50px;
        margin-right: 12px;
        padding-left: 16px;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    
        color: var(--hero-title-color);
        background-color: var(--bghero-color);
        
        &::placeholder {
            font-family: var(--main-font);
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}






