.logo{
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    color:var(--logo-color);
    padding: 24px 0px;

    &_accent{
        color: var(--accent-color);
    }
    
    &_footer{
        display: inline-block;
        margin-bottom: 20px;
        padding: 0;
        color:var(--footer-logo-color);
    }
}

