:root{
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --second-color: #757575;
    --accent-color: #2196F3;
    --bghero-color: #2F303A;
    --hero-title-color: #FFFFFF;
    --modal-btn-accent-color: #188CE8;
    --thumb-bg-color: #f5f4fa;
    --icon-socialmedia-color: #afb1b8;
    --footer-bg-color: #2F303A;
    --footer-logo-color: white;
    --adr-contact-color: rgba(255, 255, 255, 60%);
    --media-item-footer-bg-color: rgba(255, 255, 255, 0.1);
    --logo-color: #000000;
    --works-img-overlay-bgcolor: rgba(47, 48, 58, 0.8);
    --modal-backdrop-bgcolor: rgba(0, 0, 0, 0.5);
    --header-border-color: #ECECEC;

    --project-item-gap: 30px;
}